.footer {
	@apply !fixed bottom-0 right-0 bg-main;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
	padding: 10px 20px;
	color: #fff;
	transition: 0.3s;
	z-index: 100;
	width: calc(100% - 70px);
}