.footerTop {
  padding: 80px 0;
  background-color: #faf3ef;
}

.inner {
  @apply grid grid-cols-4 gap-4;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.logo img {
  width: 100%;
  margin-right: 20px;
  filter: drop-shadow(2px 4px 6px #00000087);
}

.logo p {
  color: #808080;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: justify;
}

.logo span {
  font-weight: 400;
  font-size: 16px;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  color: #4d4d4d;
}

.footerBottom {
  background-color: #faf3ef;
}

.cRight {
  border-top: 1px solid #e6e6e6;
  padding: 20px 0;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #808080;
  line-height: initial;
}

.colorD {
  color: #808080 !important;
}

.contactBox {
  margin-bottom: 20px;
}

.contactBox,
.contactLink {
  display: flex;
  align-items: flex-start;
}

.contactBox img {
  filter: brightness(0) saturate(100%) invert(58%) sepia(62%) saturate(5191%)
    hue-rotate(178deg) brightness(101%) contrast(97%);
}

.contactBox img,
.contactLink img {
  margin-right: 12px;
}

.socialFoot {
  display: flex;
}

.socialFoot a {
  background: #089efb;
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.socialFoot a:hover {
  box-shadow: 4px 6px 9px 0 #c9c9c933;
  transform: translateY(-5px);
}

.socialFoot a i {
  color: #fff;
  font-size: 16px;
}

.menuItem {
  @apply text-base py-1.5;
  transition: all 0.3s ease-in-out;
}

.menuItem:hover {
  padding-left: 10px;
}

.menuItem:hover a {
  color: #f37021 !important;
}

@media screen and (max-width: 1024px) {
  .logo a {
    justify-content: center;
  }
  .inner {
    @apply grid-cols-2;
  }
}

@media screen and (max-width: 520px) {
  .footerTop {
    padding: 20px 0;
  }
  .inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .logo a {
    margin: auto;
  }
  .socialFoot {
    margin: 20px 0;
  }
  .inner div {
    padding-left: 0;
  }
}
